body {
  margin: 0;
  padding: 20px;
  background-color: #f4d04e;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.card {
  border: 1px solid;
  position: relative;
  bottom: 0;
  right: 0;
  transform: translate(0, 0);
  max-width: 336px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 8px 8px;
  padding: 24px;
  transition-duration: 1s;
}

.card-img-top {
  border-radius: 10px;
  width: 100%;
}

.card-title {
  width: fit-content;
  background-color: #f4d04e;
  padding: 4px 12px;
  border-radius: 4px;
}

.btn {
  transition-duration: 0.5s;
  text-decoration: none;
  color: #111111;
}

.description {
  color: #7f7f7f;
  max-width: 336px;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.card:hover {
  bottom: 8px;
  right: 8px;
  box-shadow: 16px 16px;
}

.btn:hover {
  color: #f4d04e;
}
